@import "normalize";
@import "rouge-github";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
}

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: 0px;

  &:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    background: invert($body-link-color);
    outline: thick solid invert($body-link-color);
  }
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
    display: inline-block;
    margin-bottom: 0.2rem;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 6px rgba(0,0,0,0.8), 0 0 12px rgba(0,0,0,0.6);
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    vertical-align: middle; /* not work */

    &:hover {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.4);

        .svg-logo {
            fill: rgba(255, 255, 255, 1);
            fill-rule: nonzero;
            transition: fill 0.2s;
        }

        .svg-donate {
            opacity: 1;
        }

        @media (prefers-color-scheme: dark) {
            .svg-logo {
                fill: rgba(255, 255, 255, 1);
                fill-rule: nonzero;
            }
        }
    }

    + .btn {
        margin-left: 1rem;
    }

    @include large {
        padding: 0.3rem 0.3rem 0 0.3rem;
    }

    @include medium {
        padding: 0.3rem 0.3rem 0 0.3rem;
        font-size: 0.9rem;
    }

    @include small {
        display: block;
        width: 100%;
        padding: 0.2rem;
        font-size: 0.9rem;

        + .btn {
            margin-top: 1rem;
            margin-left: 0;
        }
    }

    .svg-donate {
        opacity: 0.6;
        transition: opacity 0.2s;
    }
}

.btn2 {
    display: inline-block;
    margin-bottom: 0.2rem;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 6px rgba(0,0,0,0.8), 0 0 12px rgba(0,0,0,0.6);
    // old background-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(30, 107, 184, 0.5); // $section-headings-color
    border-color: rgba(255, 255, 255, 0.3);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;

    &:hover {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.75);
        border-color: rgba(255, 255, 255, 0.4);

        .svg-logo {
            fill: rgba(255, 255, 255, 1);
            fill-rule: nonzero;
        }

        @media (prefers-color-scheme: dark) {
            .svg-logo {
                fill: rgba(255, 255, 255, 1);
                fill-rule: nonzero;
            }
        }

        svg {
            opacity: 1;
        }
    }

    + .btn2 {
        margin-left: 1rem;
    }

    @include large {
        padding: 0.75rem 1rem;
    }

    @include medium {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
    }

    @include small {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;

        + .btn2 {
            margin-top: 1rem;
            margin-left: 0;
        }
    }

    svg {
        opacity: 0.8;
        transition: opacity 0.2s;
    }
}

.svg-logo {
    fill: rgba(255, 255, 255, 0.7);
    fill-rule: nonzero;
    transition: fill 0.2s;
}

.span-align {
    vertical-align: middle;
    display: inline-block;
}

@media (prefers-color-scheme: dark) {
    .svg-logo {
        fill: rgba(255, 255, 255, 0.7);
        fill-rule: nonzero;
    }
}

.page-header {
    color: $header-heading-color;
    text-align: center;
    margin-bottom: 0;
    /*
    background-color: $header-bg-color;
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
    */
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-header-padding {
    @include large {
        padding: 3rem 4rem 0.2rem 4rem; // top right bottom left
    }

    @include medium {
        padding: 3rem 4rem 0.2rem 4rem;
    }

    @include small {
        padding: 2rem 1rem 0.1rem 1rem;
    }

    img {
        vertical-align: middle;
    }
}

.page-lang {
    padding: 0.2rem 0.8rem;

    img {
        opacity: 0.6;
    }

    img:hover {
        opacity: 1;
    }
}

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
    text-shadow: 0 0 6px rgba(0,0,0,0.8), 0 0 12px rgba(0,0,0,0.6);

    @include large {
        font-size: 3.25rem;
    }

    @include medium {
        font-size: 2.25rem;
    }

    @include small {
        font-size: 1.75rem;
    }
}

.project-tagline {
    margin-bottom: 1rem;
    font-weight: normal;
    opacity: 0.9;
    text-shadow: 0 0 6px rgba(0,0,0,0.8), 0 0 12px rgba(0,0,0,0.6);

    @include large {
        font-size: 1.25rem;
    }

    @include medium {
        font-size: 1.15rem;
    }

    @include small {
        font-size: 1rem;
    }
}

.page-latest-release {
    text-shadow: 0 3px 6px rgba(0,0,0,0.6);

    i {
        opacity: 0.7;
    }
}

.main-content {
    word-wrap: break-word;

    :first-child {
        margin-top: 0;
    }

    @include large {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }

    @include medium {
        padding: 2rem 4rem;
        font-size: 1.1rem;
    }

    @include small {
        padding: 2rem 1rem;
        font-size: 1rem;
    }

    kbd {
        background-color: #fafbfc;
        border: 1px solid #c6cbd1;
        border-bottom-color: #959da5;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #959da5;
        color: #444d56;
        display: inline-block;
        font-size: 11px;
        line-height: 10px;
        padding: 3px 5px;
        vertical-align: middle;
    }

    img {
        max-width: 100%;
        transition: transform .2s; /* Animation */
    }

    img:hover {
        transform: scale(1.05);
    }

    .shot {
        margin-right: 2rem;
    }

    #hp {
        float: left;
        margin: 0 0 0 15px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: normal;
        color: $section-headings-color;
    }

    p {
        margin-bottom: 1em;
    }

    code {
        padding: 2px 4px;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 0.9rem;
        color: $code-text-color;
        background-color: $code-bg-color;
        border-radius: 0.3rem;
    }

    pre {
        padding: 0.8rem;
        margin-top: 0;
        margin-bottom: 1rem;
        font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
        color: $code-text-color;
        word-wrap: normal;
        background-color: $code-bg-color;
        border: solid 1px $border-color;
        border-radius: 0.3rem;

        > code {
            padding: 0;
            margin: 0;
            font-size: 0.9rem;
            color: $code-text-color;
            word-break: normal;
            white-space: pre;
            background: transparent;
            border: 0;
        }
    }

    .highlight {
        margin-bottom: 1rem;

        pre {
            margin-bottom: 0;
            word-break: normal;
        }
    }

    .highlight pre,
    pre {
        padding: 0.8rem;
        overflow: auto;
        font-size: 0.9rem;
        line-height: 1.45;
        border-radius: 0.3rem;
        -webkit-overflow-scrolling: touch;
    }

    pre code,
    pre tt {
        display: inline;
        max-width: initial;
        padding: 0;
        margin: 0;
        overflow: initial;
        line-height: inherit;
        word-wrap: normal;
        background-color: transparent;
        border: 0;

        &:before,
        &:after {
            content: normal;
        }
    }

    ul,
    ol {
        margin-top: 0;
    }

    blockquote {
        padding: 0 1rem;
        margin-left: 0;
        color: $blockquote-text-color;
        border-left: 0.3rem solid $border-color;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    table {
        display: block;
        width: 100%;
        overflow: auto;
        word-break: normal;
        word-break: keep-all; // For Firefox to horizontally scroll wider tables.
        -webkit-overflow-scrolling: touch;

        th {
            font-weight: bold;
        }

        th,
        td {
            padding: 0.5rem 1rem;
            border: 1px solid $table-border-color;
        }
    }

    dl {
        padding: 0;

        dt {
            padding: 0;
            margin-top: 1rem;
            font-size: 1rem;
            font-weight: bold;
        }

        dd {
            padding: 0;
            margin-bottom: 1rem;
        }
    }

    hr {
        height: 2px;
        padding: 0;
        margin: 1rem 0;
        background-color: $hr-border-color;
        border: 0;
    }

    /* FAQ */
    /* Style the element that is used to open and close the accordion class */
    p.accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        margin-bottom: 10px;
    }
    /* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    p.accordion.active, p.accordion:hover {
        background-color: #ddd;
    }
    /* Unicode character for "plus" sign (+) */
    p.accordion:after {
        content: '\2795';
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }
    /* Unicode character for "minus" sign (-) */
    p.accordion.active:after {
        content: "\2796";
    }
    /* Style the element that is used for the panel class */

    div.panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: 0.4s ease-in-out;
        opacity: 0;
        margin-bottom: 10px;
    }

    div.panel.show {
        opacity: 1;
        max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
    }
    /* Style the element that is used to open and close the accordion class */
    p.accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        margin-bottom: 10px;
    }
    /* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    p.accordion.active, p.accordion:hover {
        background-color: #ddd;
    }
    /* Unicode character for "plus" sign (+) */
    p.accordion:after {
        content: '\2795';
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }
    /* Unicode character for "minus" sign (-) */
    p.accordion.active:after {
        content: "\2796";
    }
    /* Style the element that is used for the panel class */

    div.panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: 0.4s ease-in-out;
        opacity: 0;
        margin-bottom: 10px;
    }

    div.panel.show {
        opacity: 1;
        max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
    }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}
